@page
@model VideoRentalWebApplication.Pages.SearchTypeFormModel
@{
}

<h2>@Model.Message</h2>
<form method="post">
    <input type="number" name="typeId" value="@Model.Position"/>
    <button name="senderButton" type="submit">Поиск</button>
</form>

@if (Model.Types.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>TypeId</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var type in Model.Types)
        {
            <tr>
                <td>@type.TypeId</td>
                <td>@type.Title</td>
                <td>@type.Description</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Записи не найдены.</p>
}