@page
@model VideoRentalWebApplication.Pages.SearchGenreFormModel
@{
}
<h2>@Model.Message</h2>
<form method="post">
    <input type="text" name="post" value="@Model.Position"/>
    <button name="senderButton" type="submit">Поиск</button>
</form>

@if (Model.genres.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>GenreId</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var genre in Model.genres)
        {
            <tr>
                <td>@genre.GenreId</td>
                <td>@genre.Title</td>
                <td>@genre.Description</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Записи не найдены.</p>
}