@model VideoRentalWeb.Models.Entities.DiskViewModel
@{
    ViewData["Title"] = "Details"; Layout = "_Layout";
}

<div class="container w-50">
    @if (User.Identity.IsAuthenticated)
    {
        <table class="table table-sm">
            <thead class="thead-dark text-center">
                <tr>
                    <th colspan="2">Detailed description of "@Model.Entity.Title"</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label asp-for="Entity.Title"></label></td>
                    <td>@Model.Entity.Title</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.CreationYear"></label></td>
                    <td>@Model.Entity.CreationYear</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.Producer"></label></td>
                    <td>@Model.Entity.Producer</td>
                    <td>@Model.Entity.ProducerNavigation.Manufacturer</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.MainActor"></label></td>
                    <td>@Model.Entity.MainActor</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.Recording"></label></td>
                    <td>@Model.Entity.Recording</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.GenreId"></label></td>
                    <td>@Model.Entity.GenreId</td>
                    <td>@Model.Entity.Genre.Title</td>
                </tr>
                <tr>
                    <td><label asp-for="Entity.DiskType"></label></td>
                    <td>@Model.Entity.DiskType</td>
                    <td>@Model.Entity.DiskTypeNavigation.Title</td>
                </tr>
            </tbody>
        </table>
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-100">Back</a></p>
    }
    else
    {
        <p>You are not logged in. Please <a href="/Account/Login">login</a></p>
    }
</div>
